<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="true"
         failOnEmptyTestSuite="true"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true">

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </filter>

    <coverage>
        <report>
            <clover outputFile="docs/coverage.clover"/>
            <html outputDirectory="docs/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="docs/junit.xml"/>
    </logging>

</phpunit>
