{% extends 'base.html.twig' %}

{% block title %}Om Projektet{% endblock %}

{% block body %}
    <h1>Om Projektet</h1>
    <p> Projektet som avslutar kursen mvc handlar om att knyta ihop tidigare kursmoment och som sammanfattar kursens beståndsdelar.
    Jag har valt att i detta projekt implementera kortspelet/patiensen Poker Square. Poker Square är ett solitärt kortspel där spelaren försöker placera 25 kort i ett 5x5 rutnät för att bilda så starka pokerhänder som möjligt horisontellt och vertikalt.
    Poängen beräknas baserat på hur stark varje rad och kolumn är, enligt pokerregler.</p>
    <img src="{{ asset('img/cards.png') }}" alt="cards" class="cards-img">
{% endblock %}
