{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>Lite om mig!</h1>
        <p>Här kommer en kortare presentation om mig. Mitt namn är Cornelia, jag är 30 år och bor i Gävle med min sambo och katt.
        Efter gymnasiet spenderade jag ett år i Australien på diverse farmer, därefter återvände jag till Gävle för att studera.
        Jag tog examen som lantmätare, men efter ett par år i yrkeslivet insåg jag att det kanske inte var något för mig. Under pandemin fick jag jobb på ett IT-företag, och jag trivdes mycket bra i den miljön.
        Jag kände däremot att jag ville kunna bidra/förstå mer på jobbet, och idén började formas om att plugga något IT-inriktat. Det slutade med att jag sökte utbildningen webbprogrammering på BTH.</p>
    <img src="{{ asset('img/bild_2.png') }}" alt="me" class="about-img">
{% endblock %}